
        .container { 
            position: relative; 
            text-align: right; 
            color: green; 
        } 
          
        .bottom-left { 
            position: absolute; 
            bottom: 8px; 
            left: 16px; 
        } 
          
        .top-left { 
            position: absolute; 
            top: 8px; 
            left: 16px; 
        } 
          
        .top-right { 
            position: absolute; 
            top: 18px; 
            right: 40px;
            left: 16px; 
        } 
          
        .bottom-right { 
            position: absolute; 
            bottom: 8px; 
            right: 16px; 
        } 
          
        .centered { 
            position: absolute; 
            top: 50%; 
            left: 150%;
            transform: translate(-50%, -50%); 
        } 
        .bluebold { 
            position: relative; 
            text-align: right; 
            color: rgba(2, 0, 128, 0.87); 
            font: bold;
        } 
        .redcolor { 
            position: relative; 
            text-align: right; 
            color: rgba(128, 0, 6, 0.842); 
            font: bold;
        } 
    